<html>
<head>
    <meta charset="UTF-8">
<style>
    rc-agile-voting{
        --background-color: #003344;
        --text-color: #EEE;
        background-color:black;
        color:white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
</style>
</head>
<body>
    <h1>Agile Voting component</h1>

    <rc-agile-voting id="with-value-set" value="XS">
    </rc-agile-voting>

    <br>
    <rc-agile-voting id="with-value-not-set"></rc-agile-voting>
    <br>
    <rc-agile-voting id="with-new-values" values="small,medium,big">
        <h3 slot="title">standard sizes</h3>
    </rc-agile-voting>
    
    <script src="agile-voting.js"></script>
</body>
</html> 